    <br>
    <br>
    <form action="/changepassword" name="password" method="post">
			<fieldset>
				<label for="password">Password : </label>
				<input type="password" id="password" name="password" placeholder="Enter Password" />
				<br/>
				<input type="submit" id="submitchangepassword" name="submitchangepassword" value="changepassword" />
			</fieldset>
		</form>
    <br>
    <br>
