    <br>
    <br>
    <form action="/login" name="login" method="post">
			<fieldset>
				<label for="username">Username : </label>
				<input type="text" id="username" name="username" placeholder="Enter Username" />
				<br/>
				<label for="password">Password : </label>
				<input type="password" id="password" name="password" placeholder="Enter Password" />
				<br/>
				<input type="submit" id="submitlogin" name="submitlogin" value="login" />
			</fieldset>
		</form>
    <br>
    <br>
